@import "./variable";

@mixin reset-margin-padding {
	margin: 0;
	padding: 0;
}

@mixin Candidate-Number-Ball {
	text-align: center;

	border-radius: 50%;
	color: $white;
	font-size: $font-size-medium;
}

@mixin Chart-Section {
	position: relative;
	padding: 20px;
	margin: 15px;
	min-height: 400px;

	border-radius: $border-radius-small;
	box-shadow: 10px 10px 10px 0px $light-gray;

	@media #{$tablet-min-width} {
		width: calc(50% - 70px);
		vertical-align: top;
		display: inline-block;
	}

	@media #{$ebook-max-width} {
		width: calc(100% - 60px);
	}
}